$color1:#f5f6fa;
$color2:#182c61;
$color3:#4cd137;
$color4: #fff;

@use 'reset';
@use 'products';
@use 'secoes';

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}